* {
  /* box-sizing: border-box; */
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

:root {
  --border: 1px solid #000;
}

body {
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: #fdfdfd;
  padding: 5px;
  z-index: 2;
}

.header h1 {
  font-family: "Shippori Mincho", serif;
  color: #000b0d;
}

nav {
  position: fixed;
  top: 1.5em;
  background-color: #fdfdfd;
  width: 100%;
  z-index: 1;
}

nav ul {
  margin: 0;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #000b0d;
  font-family: "Shippori Mincho", serif;
  font-size: 24px;
}

.hero {
  display: flex;
  position: relative;
  text-align: center;
  color: #fdfdfd;
}

.herotext {
  position: absolute;
  flex-shrink: 1;
  top: 0.4em;
  left: 0;
  font-size: 80px;
  font-family: 'Pattaya', sans-serif;
  text-shadow: 2px 2px #989898;
}

.about {
  flex: 1;
  background-color: #f5f5f5;
  color: #000b0d;
  padding: 60px;
}

.about h1 {
  flex-shrink: 2;
  font-family: "Philosopher", sans-serif;
  font-size: 84px;
  position: relative;
  left: 0.05em;
}

.about hr {
  border: var(--border);
  width: 95%;
}

.about img {
  background-color: #727171;
  padding: 5px;
  border: 7px outset #727575;
  border-radius: 5px;
  height: 75%;
  width: 90%;
}

.bio {
  display: flex;
  /* flex-wrap: wrap;
  justify-content: space-between; */
  flex: 2;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  background-color: #FDFDFD;
  padding: 60px;
  /* border-bottom: 10px solid #f5f5f5; */
}

.bio p {
  flex-shrink: 2;
  position: relative;
  top: 3em;
}

.portfolio {
  background-color: #cecfce;
  width: 100%;
}

.portfolio h1 {
  flex-shrink: 2;
  font-family: "Philosopher", sans-serif;
  font-size: 84px;
  position: relative;
  padding: 50px;
  left: 0;
}

.portfolio hr {
  border: var(--border);
  width: 25%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #cecfce;
  color: #000;
}

.smallcontainer {
  display: flex;
  flex-direction: row;
  width: 30%;
  background-color: #cecfce;
  padding: 5px;
}

.smallcontainer a {
  position: relative;
  left: 0;
  width: 40%;
}

.container a {
  width: 75%;
}

.bottom-left {
  flex-shrink: 2;
  position: relative;
  left: 2em;
  bottom: 2em;
  width: 50%;
}

.smallcontainer .bottom-left {
  flex-shrink: 2;
  position: relative;
  left: 1em;
  bottom: 4em;
  width: 50%;
  color: #fff;
}

.smallcontainer .bottom-center {
    flex-shrink: 2;
    position: relative;
    left: 1em;
    bottom: 2em;
    width: 50%;
    color: #fff;
}

.container img {
  height: 100%; 
  width: 100%;
  border: 4px solid #b7b9b4;
  border-radius: 2px;
}

.container a:hover {
  cursor: pointer;
  opacity: 0.5;
}

.contact {
  background-color: #b7b9b4;
  width: 100%;
}

.contact h1 {
  font-size: 84px;
  font-family: "Philosopher", sans-serif;
  padding: 50px;
}

.contact hr {
  border: var(--border);
  width: 33%;
}

.contact form {
  text-align: center;
}

.contact input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.contact input[id="email"] {
  position: relative;
  left: 1.5em;
}

.contact button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

.contact button:hover {
  cursor: pointer;
}

footer {
  flex-shrink: 0;
  background-color: #989898;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1053px ) {

main,
nav {
  flex-direction: column;
}

.bio{
  position: relative;
  top: 0;
  bottom: 3em;
  order: 2;
}

.portfolio {
  position: relative;
  top: 0;
  order: 3;
}

.portfolio hr {
  width: 90%;
}

.container {
  position: relative;
  top: 0;
  order: 3;
}

.contact {
  position: relative;
  top: 0;
  order: 4;
}

.contact hr {
  width: 90%;
}

footer {
  order: 5;
}
}