/* Apply base text if no content loads */
* {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

/* Creates the --border variable used for hr tags */
:root {
  --border: 1px solid #000;
}

/* Applies background-color, font, and removes the margin from the body */
body {
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/* Class for styling header's content including background, size, and location as user scrolls
up and down the document */
.header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: #fdfdfd;
  padding: 5px;
  z-index: 2;
}

/* Class for styling header's h1 heading font and text color */
.header h1 {
  font-family: "Shippori Mincho", serif;
  color: #000b0d;
}

/* Styles the nav's background and keeps it in place in the top left
corner of the document */
nav {
  position: fixed;
  top: 2.2em;
  background-color: #fdfdfd;
  width: 100%;
  z-index: 1;
  text-align: center;
}

/* Styles the nav's unordered list to have no list styling */
nav ul {
  margin: 0;
  list-style-type: none;
}

/* Styles the nav's list content to display next to one another with space in between */
nav ul li {
  display: inline-block;
  padding: 10px;
}

/* Styles content in the main section into a flexbox */
main {
  display: flex;
  flex-wrap: wrap;
}

/* Styles the links to have no decoration, black text coloring, and font/font-size stylings */
a {
  text-decoration: none;
  color: #000b0d;
  font-family: "Shippori Mincho", serif;
  font-size: 24px;
}

/* Class for styling the hero image displayed under the header and nav */
.hero {
  display: flex;
  position: relative;
  text-align: center;
  color: #fdfdfd;
}

/* Class for styling the text on top of the hero image */
.herotext {
  position: absolute;
  flex-shrink: 1;
  top: 0.4em;
  left: 0;
  font-size: 80px;
  font-family: 'Pattaya', sans-serif;
  text-shadow: 2px 2px #989898;
}

/* Class for styling the portfolio "About Me" background on the left of the document */
.about {
  flex: 1;
  background-color: #f5f5f5;
  color: #000b0d;
  padding: 60px;
}

/* Class for styling the "About Me" h1 heading on the left of the document */
.about h1 {
  flex-shrink: 2;
  font-family: "Philosopher", sans-serif;
  font-size: 84px;
  position: relative;
  left: 0.05em;
}

/* Class for styling the horizontal line under the h1 heading in the "About Me" section
using the --border variable*/
.about hr {
  border: var(--border);
  width: 95%;
}

/* Class for styling the "About Me" section image to have padding and a border outside
used as an effect*/
.about img {
  background-color: #727171;
  padding: 5px;
  border: 7px outset #727575;
  border-radius: 5px;
  height: 75%;
  width: 90%;
}

/* Class for styling the "About Me" section biography paragraph's background and font on the right side of the document */
.bio {
  display: flex;
  /* flex-wrap: wrap;
  justify-content: space-between; */
  flex: 2;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  background-color: #FDFDFD;
  padding: 60px;
}

/* Class for stylingthe "About Me" biography paragraph's position in container */
.bio p {
  flex-shrink: 2;
  position: relative;
  top: 3em;
}

/* Class for styling the background of the "Portfolio" section*/
.portfolio {
  background-color: #cecfce;
  width: 100%;
}

/* Class for styling the h1 heading's font, size, and padding in the "Portfolio" section */
.portfolio h1 {
  flex-shrink: 2;
  font-family: "Philosopher", sans-serif;
  font-size: 84px;
  position: relative;
  padding: 50px;
  left: 0;
}

/* Class for styling the horizontal line under the "Portfolio" section
using the --border variable */
.portfolio hr {
  border: var(--border);
  width: 25%;
}

/* Class for styling the div containing the Portfolio's deployed applications */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #cecfce;
  color: #000;
}

/* Class for styling the smaller containers under the largest, showcased application */
.smallcontainer {
  display: flex;
  flex-direction: row;
  width: 30%;
  background-color: #cecfce;
  padding: 5px;
}

/* Styles the smallcontainer class' hyperlinks to fit inside the container */
.smallcontainer a {
  position: relative;
  left: 0;
  bottom: 0.5em;
  width: 40%;
}

/* Styles the container class' hyperlinks to fit inside the container */
.container a {
  width: 75%;
}

/* Class for styling the text to the bottom-left of displayed application links */
.bottom-left {
  flex-shrink: 2;
  position: relative;
  left: 2em;
  bottom: 2em;
  width: 50%;
}

/* Styles the bottom-left class inside the smallcontainer classes */
.smallcontainer .bottom-left {
  flex-shrink: 2;
  position: relative;
  left: 1em;
  bottom: 4em;
  width: 50%;
  color: #fff;
}

/* Styles a smallcontainer's text to appear at the cetner (functionality is similar to bottom-left) */
.smallcontainer .bottom-center {
    flex-shrink: 2;
    position: relative;
    left: 1em;
    bottom: 4em;
    width: 50%;
    color: #fff;
}

/* Styles the images inside the "Portfolio" containers */
.container img {
  height: 100%; 
  width: 100%;
  border: 4px solid #b7b9b4;
  border-radius: 2px;
}

/* Hovering over an application link will highlight the area and change the cursor to a pointer */
.container a:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* Class for styling the "Contact Me" section's background */
.contact {
  background-color: #b7b9b4;
  width: 100%;
}

/* Styles the "Contact Me" section's font and padding for the h1 heading */
.contact h1 {
  font-size: 84px;
  font-family: "Philosopher", sans-serif;
  padding: 50px;
}

/* Styles the horizontal line in the "Contact Me" section */
.contact hr {
  border: var(--border);
  width: 33%;
}

/* Styles the form in the "Contact Me" section */
.contact form {
  text-align: center;
}

/* Styles the input areas in the "Contact Me" form to have a box, padding, and margin */
.contact input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* Adjusts the email input box to the right */
.contact input[id="email"] {
  position: relative;
  left: 1.5em;
}

/* Styles the "submit" button to have a rounded border and a larger box */
.contact button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

/* Hovering over the "submit" button will change the cursor to a pointer */
.contact button:hover {
  cursor: pointer;
}

/* Styles the footer section to display at the bottom of the document */
footer {
  flex-shrink: 0;
  background-color: #989898;
  width: 100%;
  text-align: center;
}

/* Media queries for different screen sizes */
@media screen and (max-width: 1053px ) {

main,
nav {
  flex-direction: column;
}

.bio{
  position: relative;
  top: 5;
  bottom: 3em;
  order: 2;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

.portfolio {
  position: relative;
  top: 0;
  order: 3;
}

.portfolio hr {
  width: 90%;
}

.container {
  position: relative;
  top: 0;
  order: 3;
}

.contact {
  position: relative;
  top: 0;
  order: 4;
}

.contact hr {
  width: 90%;
}

footer {
  order: 5;
}
}

@media screen and (max-width: 798px ) {

  main,
  nav {
    flex-direction: column;
  }

  .herotext{
  position: absolute;
  flex-shrink: 1;
  top: 3em;
  left: 0;
  font-size: 40px;
  font-family: 'Pattaya', sans-serif;
  text-shadow: 2px 2px #989898;
  }
  
  .bio{
    position: relative;
    top: 7;
    bottom: 3em;
    order: 2;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    border-bottom: 70px solid #f5f5f5;
  }
  
  .portfolio {
    position: relative;
    top: 0;
    order: 3;
  }
  
  .portfolio hr {
    width: 90%;
  }
  
  .container {
    position: relative;
    top: 0;
    order: 3;
  }

  .container a {
    position: relative;
    top: 0;
    left: 2em;
  }

  .smallcontainer {
  position: relative;
  bottom: 2em;
  left: 6em;
  width: 40%;
  }

  .bottom-left{
  font-size: small;
  }

  .bottom-center {
  font-size: small;
  }
  
  .contact {
    position: relative;
    top: 0;
    order: 4;
  }
  
  .contact hr {
    width: 90%;
  }
  
  footer {
    order: 5;
  }
  }